/******************* GENERAL ***********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', 'Playfair Display';
    font-size: 20px;
}

/******************* HEADER ***********************/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header>ul {
    list-style: none;
    display: flex;
    width: 20%;
    justify-content: space-around;
}

header>nav {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
}
/******************* MAIN ***********************/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******** PROFIL ************/
h1, h2 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
}

h1 {
    margin: 90px 0 70px 0;
    font-size: 70px;
    word-spacing: 10px;
}

h2 {
    font-size: 50px;
    font-weight: 500;
    margin: 40px;
}

#presentation h3 {
    color: grey;
    font-weight: lighter;
    padding: 15px 0 15px 0;
}

main>section:nth-child(2) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0 100px 0;
}

.presentation {
    width: 300px;
}

#presentation p {
    font-weight: 600;
    line-height: 30px;
    word-spacing: 1px;
    padding-bottom: 40px;
}

#contour {
    border: 3px solid grey;
    border-radius: 325px 325px 325px 325px;
    margin: 0 30px 0 40px;
}

img[alt="photo de profil"] {
    margin: 37px 30px 30px 30px;
    border-radius: 300px 300px 300px 300px;
}

#presentation2 p {
    font-size: 50px;
    text-align: end;
}

#presentation2 h3 {
    color: grey;
    font-weight: lighter;
    padding-top: 15px;
    text-align: end;
}

#societe {
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 100px;
    opacity: 0.5;
}

#presentation , #presentation2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/******** SKILLS **********/

#skills {
    width: 80%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.skills>div>div {
    background-color: rgb(241, 241, 241);
    width: 200px;
    height: 275px;
    border-radius: 150px 150px 150px 150px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills h4 {
    text-align: center;
    margin: 20px;
    font-weight: 500;
}

.skills p {
    font-size: 45px;
    margin-top: 15px;
}

.skills img {
    opacity: 0.7;
}


.skills>div>div:hover img {
    display: none;
}

.html5:hover::before {
    content: "";
    background-image: url(../img/html5.png) ; 
    width: 105px;
    height: 105px;
    background-size: contain;
}

.css:hover::before {
    content: "";
    background-image: url(../img/css-3.png) ; 
    width: 110px;
    height: 110px;
    background-size: contain;
}

.javascript:hover::before {
    content: "";
    background-image: url(../img/script-java.png) ; 
    width: 110px;
    height: 110px;
    background-size: contain;
}

.xd:hover::before {
    content: "";
    background-image: url(../img/xd.png) ; 
    width: 115px;
    height: 115px;
    background-size: contain;
}

.figma:hover::before {
    content: "";
    background-image: url(../img/figma.png) ; 
    width: 110px;
    height: 110px;
    background-size: contain;
}

.photoshop:hover::before {
    content: "";
    background-image: url(../img/photoshop.png) ; 
    width: 110px;
    height: 110px;
    background-size: contain;
}


/******** PARCOURS ********/

.parcours {
    width: 80%;
    height: 850px;
    border-bottom: 2px solid grey;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.parcours>div {
    height: 60%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.parcours>div>div {
    width: 20%;
} 

.parcours h3, .date {
    margin-bottom: 40px;
}

.parcours h3 {
    font-size: 25px;
    font-weight: 500;
}

.projets a, .date {
    text-decoration: none;
    font-style: italic;
    color: black;
}

.techno {
    color: rgb(192, 104, 4);
}

.formations {
    text-align: start;
}

.projets {
    text-align: center;
}

.experiences {
    text-align: end;
}

/********* LAST PROJECT **********/

#lastproject {
    width: 80%; 
    height: 1000px;
    border-bottom: 2px solid grey;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lastproject ul {
    list-style: none;
    scroll-snap-type: y mandatory;
    overflow-x: scroll;

    display: flex;
    align-items: center;
}

.lastproject li {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lastproject {
    margin-bottom: 100px;
}

.lastproject div {
    width: 400px;
    height: 400px;
    border-radius: 40%;
    margin: 30px;
    box-shadow: 5px 0 12px black;
}

.image1 {
    background-image: url(../img/1.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: -100px -100px;
}

.image2 {
    background-image: url(../img/10590.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: -100px -100px;
}

.image3 {
    background-image: url(../img/20943482.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: -150px -250px;
}

.image4 {
    background-image: url(../img/backend_online_2.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: -100px -150px;
}

.image5 {
    background-image: url(../img/GST\ JOS\ 462-21.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: -80px -100px;
}

.lastproject img {
    position: initial;
}

/******************* FOOTER ***********************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>section {
    width: 80%;
}

/******* COMMENTARY **********/

footer section>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.commentary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;

}

.commentary p {
    font-size: 45px;
    width: 80%;
}

.name {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name>p:first-child {
    font-weight: bold;
}

.name em {
    color: rgb(0, 110, 255);
}


/****** INSTA ************/

.insta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 500px;
}

.insta p {
    font-size: 40px;
    font-weight: 300;
}

.insta>div {
    display: flex;
    justify-content: center;
}

.insta>div>div {
    width: 280px;
    height: 280px;
    margin: 2px;
    background-color: black;
}

.photo1 {
    background-image: url(../img/dessin\ 6\ -\ moi\ 1\ finale.png);
    background-size: 350px;
    background-position: -50px;
}

.photo2 {
    background-image: url(../img/dessin7\ -\ fumikage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -60px;
}

.photo3 {
    background-image: url(../img/dessin5\ -\ PROBA.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.photo4 {
    background-image: url(../img/dessinn\ 4\ -\ zoro\ .png);
    background-size: 380px;
    background-position: -50px;
}

.photo5 {
    background-image: url(../img/dessin2-Fire\ man.png);
    background-size: 395px;
    background-position: -20px;
}

/***** CERCLE ******/

.cercle {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid grey;
}

.cercle>div {
    width: 450px;
    height: 450px;
    border: 6px dotted rgba(0, 0, 0, 0.11);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 40px 100px 60px 140px;
}

.cercle p {
    opacity: 0.5;
}

.cercle h4 {
    font-size: 80px;
    font-weight: 400;
    line-height: 70px;
}

/******* MENTION LEGAL *********/

.mention_legal {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mention_legal ul, .mention_legal p {
    width: 20%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}